# Executable names
/scribblers
*.exe
__debug_bin
# IntelliJ state
.idea/
# Folder that contains code used for trying stuff locally
playground/
# Temporary output text files
*.out
# System metadata files
.DS_Store
# Configuration files
.env
# Executable files that aren't required for the actual app to run.
/tools/
# Deployment configuration
fly.toml
*.md
LICENSE

.vscode/
.github/
.golangci.yml
.gitignore
.git
*.Dockerfile