[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

; Works with some editors only
max_line_length = 120
spaces_around_brackets = true
spaces_around_operators = true

[Makefile]
indent_style = tab
