# fly.toml app configuration file generated for scribblers on 2023-08-13T19:29:52+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "scribblers"
primary_region = "ams"

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]
