# See https://fly.io/docs/reference/configuration/

app = "scribblers"
# "fra" is only for paying customers
primary_region = "ams"

[build]
dockerfile = "linux.Dockerfile"

[deploy]
strategy = "canary"

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = true
auto_start_machines = true
# Allows true scale to zero
min_machines_running = 0
processes = ["app"]

[[http_service.checks]]
grace_period = "5s"
interval = "30s"
method = "GET"
timeout = "5s"
path = "/health"
