<!DOCTYPE html>
<html lang="en">

<head>
    <title>Scribble.rs</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/resources/style.css" />
    <link rel="icon" type="image/png" href="/resources/favicon.png" />
</head>

<body>
    <div class="content-wrapper">
        <h1>Scribble.rs</h1>
        <h2>Create a lobby</h2>

        <div class="center-container">
            <div class="content-container">
                {{if .Errors}}
                <div class="error-list">
                    Your input contains invalid data:
                    <ul>
                        {{range .Errors}}
                        <li>{{.}}</li>
                        {{end}}
                    </ul>
                    <br />
                    Fix the input and try again.
                </div>

                {{end}}
                <form id="lobby-create" class="input-container" action="/lobby/create" method="POST">
                    <label for="lobby_password">Lobby Password</label>
                    <input name="lobby_password" placeholder="Enter your password or leave empty"
                        type="password" value="{{.Password}}" />
                    <label for="drawing_time">Drawing Time</label>
                    <input type="number" name="drawing_time" min=1 step=1 value="{{.DrawingTime}}" required />
                    <label for="rounds">Rounds</label>
                    <input type="number" name="rounds" min=1 step=1 value="{{.Rounds}}" required />
                    <label for="max_players">Maximum Players</label>
                    <input type="number" name="max_players" min=2 step=1 value="{{.MaxPlayers}}" required />
                    <label for="custom_words">Custom Words</label>
                    <textarea name="custom_words"
                        placeholder="Enter your additional words, seperating them by commas">{{.CustomWords}}</textarea>
                    <label for="custom_words_chance">Custom Words Chance</label>
                    <input type="range" name="custom_words_chance" min=1 max=100 value="{{.CustomWordsChance}}" />
                    <label for="clients_per_ip_limit">Clients per IP Limit</label>
                    <input type="number" name="clients_per_ip_limit" min=1 step=1
                            value="{{.ClientsPerIPLimit}}" required />
                    <label for="enable_votekick">Enable Votekick</label>
                    <input type="checkbox" name="enable_votekick" value=true {{if .EnableVotekick}} checked {{end}} />
                    <button type="submit" form="lobby-create" style="grid-column-start: 1; grid-column-end: 3;">Open Lobby</button>
                </form>
            </div>
        </div>
    </div>

    {{template "footer"}}
</body>

</html>
