{{define "lobby-create-page"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Scribble.rs</title>
    <meta charset="UTF-8"/>
    {{template "font-decl" .}}
    <link rel="stylesheet" type="text/css" href="{{.RootPath}}/resources/base.css"/>
    <link rel="stylesheet" type="text/css" href="{{.RootPath}}/resources/lobby_create.css"/>
    <link rel="icon" type="image/png" href="{{.RootPath}}/resources/favicon.png"/>
</head>

<body>
    <div class="content-wrapper">
    <noscript><span class="noscript">This website requires JavaScript to run properly.</span></noscript>

    <h1>Scribble.rs</h1>

    <div class="tab-header">
        <label for="create-lobby-tab-button">
            <input id="create-lobby-tab-button" class="custom-check-or-radio tab-button"
                type="radio" onclick="openTab('create-lobby')" name="tab" checked>
            <div class="tab-label">Create Lobby</div>
        </label>
        <label for="join-lobby-tab-button">
            <input id="join-lobby-tab-button" class="custom-check-or-radio tab-button"
                type="radio" onclick="openTab('join-lobby')" name="tab">
            <div class="tab-label">Join Lobby</div>
        </label>
    </div>

    <div id="create-lobby" class="tab-content">
        <div class="center-container">
            <div class="content-container">
                {{if .Errors}}
                    <div class="error-list">
                        Your input contains invalid data:
                        <ul>
                            {{range .Errors}}
                                <li>{{.}}</li>
                            {{end}}
                        </ul>
                        <br/>
                        Fix the input and try again.
                    </div>

                {{end}}
                <form id="lobby-create" class="input-container" action="{{.RootPath}}/ssrCreateLobby" method="POST">
                    <b>Lobby-Language</b>
                    <select class="input-item" name="language" placeholder="Choose your language">
                        {{$language := .Language}}
                        {{range $k, $v := .Languages}}
                            <option value="{{$k}}" {{if eq $k $language}}selected="selected"{{end}}>{{$v}}</option>
                        {{end}}
                    </select>
                    <b>Drawing Time</b>
                    <input class="input-item" type="number" name="drawing_time" min="{{.MinDrawingTime}}"
                    max="{{.MaxDrawingTime}}" value="{{.DrawingTime}}"/>
                    <b>Rounds</b>
                    <input class="input-item" type="number" name="rounds" min="{{.MinRounds}}" max="{{.MaxRounds}}"
                    value="{{.Rounds}}"/>
                    <b>Maximum Players</b>
                    <input class="input-item" type="number" name="max_players" min="{{.MinMaxPlayers}}"
                    max="{{.MaxMaxPlayers}}" value="{{.MaxPlayers}}"/>
                    <b>Public Lobby</b>
                    <input class="input-item" type="checkbox" name="public" value="true"
                        {{if eq .Public "true"}}checked{{end}}/>
                    <b>Custom Words</b>
                    <textarea class="input-item" name="custom_words"
                    placeholder="Enter your additional words, separating them by commas">{{.CustomWords}}</textarea>
                    <b>Custom Words Chance</b>
                    <div style="display: flex;">
                        0%
                        <input style="flex: 1;" type="range" name="custom_words_chance" min="1" max="100" value="{{.CustomWordsChance}}">
                        100%
                    </div>
                    <details class="advanced-section">
                        <summary>Advanced</summary>
                        <div class="input-container">
                            <b>Players per IP Limit</b>
                            <input class="input-item" type="number" name="clients_per_ip_limit" min="{{.MinClientsPerIPLimit}}"
                            max="{{.MaxClientsPerIPLimit}}" value="{{.ClientsPerIPLimit}}"/>
                            <b>Enable Votekick</b>
                            <input class="input-item" type="checkbox" name="enable_votekick" value="true"
                            {{if eq .EnableVotekick "true"}}checked{{end}}/>
                        </div>
                    </details>
                    <button type="submit" form="lobby-create" style="grid-column-start: 1; grid-column-end: 3;">
                            Create Lobby
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div id="join-lobby" class="tab-content">
        <div class="join-lobby-data">
            <div class="table-wrapper-wrapper">
                <button id="refresh-button" onclick="loadLobbyTable()">Refresh</button>
                <div class="table-wrapper">
                    <table id="lobby-table">
                        <thead>
                            <tr>
                                <th>Language</th>
                                <th>Rounds</th>
                                <th>Players</th>
                                <th>Drawing Time</th>
                                <th>Custom Words</th>
                            </tr>
                        </thead>
                        <tbody id="lobby-table-body">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="lobby-details">
                <span class="lobby-detail">Language:</span>
                <span id="wordpack-detail"></span>
                <span class="lobby-detail">Rounds:</span>
                <span id="rounds-detail"></span>
                <span class="lobby-detail">Players:</span>
                <span id="players-detail"></span>
                <span class="lobby-detail">Drawing Time:</span>
                <span id="drawing-time-detail"></span>
                <span class="lobby-detail">Custom Words:</span>
                <span id="custom-words-detail"></span>
                <span class="lobby-detail">Allow Votekicking:</span>
                <span id="votekicking-detail"></span>
                <span class="lobby-detail">Maximum Players per IP:</span>
                <span id="max-clients-ip-detail"></span>
                <button id="join-button" onclick="onJoin()" disabled>Join</button>
            </div>
        </div>
    </div>

    {{template "footer" .}}
</div>

<script type="text/javascript">
    let lobbyTableLoaded = false;
    let lobbyTableBody = document.getElementById("lobby-table-body");
    let selectedLobby;
    
    let createLobbyTabButton = document.getElementById("create-lobby-tab-button");
    let joinLobbyTabButton = document.getElementById("join-lobby-tab-button");

    let joinButton = document.getElementById("join-button");

    let wordpackDetail = document.getElementById("wordpack-detail");
    let roundsDetail = document.getElementById("rounds-detail");
    let playersDetail = document.getElementById("players-detail");
    let drawingTimeDetail = document.getElementById("drawing-time-detail");
    let customWordsDetail = document.getElementById("custom-words-detail");
    let votekickingDetail = document.getElementById("votekicking-detail");
    let maxClientsIPDetail = document.getElementById("max-clients-ip-detail");

    function onJoin() {
        window.open("{{.RootPath}}/ssrEnterLobby?lobby_id=" + selectedLobby, "_self");
    }

    function loadLobbyTable() {
        lobbyTableLoaded = true;

        if (lobbyTableBody.childNodes.length > 0) {
            for (let i = lobbyTableBody.childNodes.length-1; i >= 0; i--) {
                lobbyTableBody.removeChild(lobbyTableBody.childNodes.item(i));
            }
        }

        fetch("{{.RootPath}}/v1/lobby")
            .then((response) => {
                return response.json();
            })
            .then((data) => {
                //Initially remove all data and disable join button, as we don't know
                //whether we'll have any data after fetching.
                showLobbyDetails(null);

                data.forEach(lobby => {
                    const wordpackCell = document.createElement("td");
                    wordpackCell.innerText = lobby.wordpack;
                    const roundsCell = document.createElement("td");
                    roundsCell.innerText = lobby.round + "/" + lobby.maxRounds;
                    const playersCell = document.createElement("td");
                    playersCell.innerText = lobby.playerCount + "/" + lobby.maxPlayers;
                    const drawingTimeCell = document.createElement("td");
                    drawingTimeCell.innerText = lobby.drawingTime.toString();
                    const customWordsCell = document.createElement("td");
                    customWordsCell.innerText = lobby.customWords ? "Yes" : "No";

                    const newRow = document.createElement("tr");
                    newRow.appendChild(wordpackCell);
                    newRow.appendChild(roundsCell);
                    newRow.appendChild(playersCell);
                    newRow.appendChild(drawingTimeCell);
                    newRow.appendChild(customWordsCell);

                    lobbyTableBody.appendChild(newRow);

                    let clickHandler = function () {
                        lobbyTableBody.childNodes.forEach(row => {
                            row.setAttribute("selected", "false");
                        })
                        newRow.setAttribute("selected", "true");
                        selectedLobby = lobby.lobbyId;
                        showLobbyDetails(lobby);
                    };
                    newRow.addEventListener("click", clickHandler, false);
                })
            });
    }

    function showLobbyDetails(lobby) {
        if (lobby === null) {
            wordpackDetail.innerText = "";
            roundsDetail.innerText = "";
            playersDetail.innerText = "";
            drawingTimeDetail.innerText = "";
            customWordsDetail.innerText = "";
            votekickingDetail.innerText = "";
            maxClientsIPDetail.innerText = "";
            joinButton.disabled = true;
        } else {
            wordpackDetail.innerText = lobby.wordpack;
            roundsDetail.innerText = lobby.round + "/" + lobby.maxRounds;
            playersDetail.innerText = lobby.playerCount + "/" + lobby.maxPlayers;
            drawingTimeDetail.innerText = lobby.drawingTime.toString();
            customWordsDetail.innerText = lobby.customWords ? "Yes" : "No";
            votekickingDetail.innerText = lobby.votekick ? "Yes" : "No";
            maxClientsIPDetail.innerText = lobby.maxClientsPerIp;
            joinButton.disabled = false;
        }
    }

    function openTab(tabId) {
        if (tabId === "join-lobby") {
            loadLobbyTable();
        }

        //Initially hide all tabs except for our target tab
        const tabs = document.getElementsByClassName("tab-content");
        for (let i = 0; i < tabs.length; i++) {
            tabs[i].style.display = "none";
        }

        //Show the newly selected tab.
        document.getElementById(tabId).style.display = "flex";
    }

    if(createLobbyTabButton.checked) {
        openTab('create-lobby');
    } else if (joinLobbyTabButton.checked) {
        openTab('join-lobby');
    }
</script>
</body>

</html>
{{end}}
