@font-face {
    font-family: 'Montserrat';
    font-weight: normal;
    src: local('Monserrat'), url(/resources/Montserrat-Regular.otf) format("opentype");
}

@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    src: local('Monserrat Bold'), url(/resources/Montserrat-Bold.otf) format("opentype");
}

html {
    font-family: 'Montserrat';
}

body {
    background-color: antiquewhite;
    margin: 0;
    position: relative;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

h1, h2 {
    margin: 0;
    text-align: center;
    color: rgb(248, 148, 164);
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

ul {
    margin: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 2rem;
    width: 100%;
    background-color: lightslategray;
    color: white;
}

.footer-item + .footer-item {
    margin-left: 1rem;
}

.noscript {
    display: flex;
    font-size: 2.5rem;
    font-weight: bold;
    justify-content: center;
    border-bottom: 1rem solid black;
    padding: 10px;
}
