.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content-container {
    display: block;
    background-color: rgb(250, 192, 202);
    padding: 1rem 3rem 1rem 3rem;
}

.input-container {
    justify-content: center;
    align-items: center;
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}

.input-item {
    width: inherit;
    min-width: 300px;
}

.error-list {
    background-color: rgb(236, 93, 93);
    padding: 10px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.tab-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    border: 1px solid #eae9e9;
}

.tab-label {
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
}

.tab-button:checked + .tab-label {
    background-color: #eae9e9;
    border-bottom: 2px solid rgb(248, 148, 164);
    padding: 10px 10px 8px 10px;
}

.tab-content {
    display: none;
    padding: 6px 12px;
    border: none;
    background-color: #eae9e9;
    flex: 1 1;
}

/* display: block causes the element to be visible, since the default value is none */
#create-lobby {
    display: block;
}

#lobby-table {
    width: 100%;
}

.open-lobby-info {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.table-wrapper {
    height: 50vh;
    overflow: auto;
}

table {
    border: 1px solid lightgray;
    border-collapse: collapse;
}

td, th {
    text-align: left;
    padding: 0 5px 0 5px;
}

th {
    background-color: white;
    position: sticky;
    top: 0;
}

tr:hover {
    background-color: rgb(248, 148, 164);
}

.join-button-bar {
    margin-top: 5px;
}

.join-button {
    float: right;
}

tr[selected="true"] {
    background-color: #6464de;
}