.content-wrapper {
    padding-top: 1em;
    padding-bottom: initial;
    vertical-align: middle;
    horiz-align: center;
    /*background-image: url('background.png');*/
    /*background-repeat: repeat;*/
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;

}

/*Jadvale sakhte lobby*/

.content-container {
    display: block;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 20px;
}

.input-container {
    justify-content: center;
    align-items: center;
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}

.input-item {
    width: inherit;
    min-width: 300px;
}

.input-id {
    height: 40px;
    font-weight: bold;
    direction: ltr;
    font-size: 30px;
    margin-bottom: 5px;
    width: 290px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.error-list {
    background-color: rgb(236, 93, 93);
    padding: 10px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
}
