.content-wrapper {
    padding-bottom: 2rem;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content-container {
    display: block;
    background-color: rgb(250, 192, 202);
    border-radius: 15px;
    padding: 20px;
}

.input-container {
    justify-content: center;
    align-items: center;
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}

.input-item {
    width: inherit;
    min-width: 300px;
}

.error-list {
    background-color: rgb(236, 93, 93);
    padding: 10px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
}
