.noscript {
    display: flex;
    font-size: 2.5rem;
    font-weight: bold;
    justify-content: center;
    border-bottom: 1rem solid black;
    padding: 10px;
}

.top-left-container {
    display: flex;
}

#rounds {
    font-size: 2rem;
    flex: 1;
}

#time-left {
    font-size: 2rem;
}

#word-container {
    text-align: center;
}

.guess-letter-underline {
    text-transform: uppercase;
    border-bottom: 0.3rem black solid;
}

.guess-letter {
    font-family: monospace;
    font-weight: bold;
    font-size: 1.5rem;
}

.guess-letter+.guess-letter {
    margin-left: 0.5rem;
}

.lobby-layout {
    padding: 5px;
    display: grid;
    grid-template-columns: 23rem 1100px auto;
    grid-template-rows: auto 600px;
    grid-gap: 5px;
}

#drawing-board {
    border: 1px solid black;
    width: 100%;
}

.chat {
    border: 1px solid black;
    min-width: 15rem;
    height: 50vh;
    max-height: 50vh;
    display: grid;
    grid-template-rows: auto fit-content(100%);
}

#message-container {
    padding: 5px;
    overflow-y: scroll;
    word-break: break-all;
}

#word-container {
    justify-items: center;
}

.chat-name {
    font-weight: bold;
}

.chat-name:after {
    content: ":";
}

.non-guessing-player-message {
    color: rgb(38, 187, 38);
}

.message-input-form {
    display: flex;
}

#message-input {
    flex: 1;
}

#word-dialog {
    background-color: #CCCCCC;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    width: auto;
    height: 150px;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.word-dialog-text {
    margin-bottom: 15px;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(240, 105, 127);
    margin-left: 20px;
    margin-right: 20px;
}

.word-button-container {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
}

.word-button {
    border: 0;
    border-radius: 0;
    background-color: white;
    padding: 10px;
}

.word-button:hover {
    background-color: rgb(244, 183, 247);
}

.word-button:active {
    background-color: rgb(243, 132, 247);
}

.word-button+.word-button {
    margin-left: 10px;
}

#sound-toggle-label {
    font-size: 2rem;
}

.sound-toggle-input {
    height: 2rem;
    width: 2rem;
}

.custom-check-or-radio {
    /* Little hack in order to hide the original components of the check/radio button */
    opacity: 0.0;
    position: absolute;
}

.dot {
    background-color: black;
    border-radius: 50%;
}

.size-2 {
    height: 2px;
    width: 2px;
}

.size-5 {
    height: 5px;
    width: 5px;
}

.size-15 {
    height: 15px;
    width: 15px;
}

.size-30 {
    height: 30px;
    width: 30px;
}

.size-40 {
    height: 40px;
    width: 40px;
}

.line-width-button+.line-width-button-content {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-width-button-content {
    background-color: rgb(218, 218, 218);
}

.line-width-button-content:hover {
    background-color: rgb(244, 183, 247);
}

.line-width-button:checked+.line-width-button-content {
    background-color: rgb(243, 132, 247);
}

#color-picker {
    border: 0;
    background-color: rgb(218, 218, 218);
    height: 50px;
    width: 50px;
    margin-right: 10px;
    padding: 5px;
}

#color-picker:hover {
    background-color: rgb(244, 183, 247);
}

#color-picker:active {
    background-color: rgb(243, 132, 247);
}

.canvas-button {
    height: 50px;
    width: 50px;
    border: 0;
    background-color: rgb(218, 218, 218);
    margin-left: 10px;
}

.canvas-button:hover {
    background-color: rgb(244, 183, 247);
}

.canvas-button:active {
    background-color: rgb(243, 132, 247);
}

.canvas-button::-moz-focus-inner {
    border: 0;
}

.color-button-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.color-button-row {
    display: flex;
    flex-direction: row;
}

.color-button {
    height: 24px;
    width: 24px;
    border: 0;
}

.color-button::-moz-focus-inner {
    border: 0;
}

.system-message {
    color: red;
}