#player-container {
    display: flex;
    flex-direction: column;
}

.player {
    padding: 0.2rem;
    border: 1px solid black;
    display: grid;
    grid-template-columns: fit-content(100%) auto;
    grid-template-rows: 1fr 1fr;
}

.player+.player {
    margin-top: 5px;
}

.rank {
    display: flex;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    font-size: 1.5rem;
}

.playername {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.playername, .playerscore {
    font-size: 1rem;
}