#player-container {
    display: flex;
    flex-direction: column;
}

.player {
    padding-right: 2rem;
    border: 1px solid black;
    display: grid;
    grid-template-columns: fit-content(100%) auto;
    grid-template-rows: 1fr 1fr;
}

.player+.player {
    margin-top: 5px;
}

.rank {
    display: flex;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
}

.playername, .playerscore {
    display: flex;
    align-items: center;
    height: 2rem;
    font-size: 1rem;
}