.noscript {
    display: flex;
    font-size: 2.5rem;
    font-weight: bold;
    justify-content: center;
    border-bottom: 1rem solid black;
    padding: 10px;
}

#rounds {
    font-size: 2rem;
}

#time-left {
    font-size: 2rem;
}

#word-container {
    text-align: center;
}

.guess-letter-underline {
    text-transform: uppercase;
    border-bottom: 0.3rem black solid;
}

.guess-letter {
    font-family: monospace;
    font-weight: bold;
    font-size: 1.5rem;
}

.guess-letter+.guess-letter {
    margin-left: 0.5rem;
}

.lobby-layout {
    padding: 5px;

    display: grid;
    grid-template-columns: 25rem 1100px auto;
    grid-template-rows: auto 600px;
    grid-gap: 5px;
}

#drawing-board {
    border: 1px solid black;
    width: 100%;
}

.chat {
    border: 1px solid black;
    min-width: 15rem;

    height: 50vh;
    max-height: 50vh;

    display: grid;
    grid-template-rows: auto fit-content(100%);
}

#message-container {
    padding: 5px;
    overflow-y: scroll;
    word-break: break-all;
}

#word-container {
    justify-items: center;
}

.chat-name {
    font-weight: bold;
}

.chat-name:after {
    content: ":";
}

.message-input-form {
    display: flex;
}

#message-input {
    flex: 1;
}