@font-face {
    font-family: 'Montserrat';
    font-weight: normal;
    src: local('Monserrat'), url(/resources/Montserrat-Regular.otf) format("opentype");
}

@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    src: local('Monserrat Bold'), url(/resources/Montserrat-Bold.otf) format("opentype");
}

a:link, a:visited {
    color: inherit;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

html {
    font-family: 'Montserrat';
}

body {
    margin: 0;
    position: relative;
    min-height: 100vh;
}

.content-wrapper {
    padding-bottom: 2rem;
}

h1, h2 {
    margin: 0;
    text-align: center;
    color: rgb(248, 148, 164);
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

ul {
    margin: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 2rem;
    width: 100%;
    background-color: lightslategray;
    color: white;
}

.footer-item+.footer-item {
    margin-left: 1rem;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content-container {
    display: block;
    background-color: rgb(250, 192, 202);
    border-radius: 15px;
    padding: 20px;
}

.input-container {
    justify-content: center;
    align-items: center;
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}

.input-item {
    width: inherit;
    min-width: 300px;
}

.input-container input[type=range] {
    height: 0;
}

.error-list {
    background-color: rgb(236, 93, 93);
    padding: 10px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
}

/* https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ */
/* License: https://css-tricks.com/license/ (TL;DR: Use it however you want) */

input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}
