@font-face {
    font-family: 'Montserrat';
    font-weight: normal;
    src: local('Monserrat'), url(/resources/Montserrat-Regular.otf) format("opentype");
}

@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    src: local('Monserrat Bold'), url(/resources/Montserrat-Bold.otf) format("opentype");
}

a:link, a:visited {
    color: inherit;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

html {
    font-family: 'Montserrat';
}

h1 {
    margin: 0;
    font-size: 6em;
    text-align: center;
}

h2 {
    margin: 0;
    font-size: 4em;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightslategray;
    color: white;
}

.footer-item {
    margin-left: 10px;
    margin-right: 10px;
}

body {
    margin: 0;
    background-color: rgb(187, 206, 226);
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-container {
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 243, 216);
    border-radius: 20px;
    padding: 20px;

    display: inline-grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}

.input-item {
    width: inherit;
    min-width: 300px;
}

.error-list {
    background-color: rgb(236, 93, 93);
    padding: 10px;

    grid-column-start: 1;
    grid-column-end: 3;
}

ul {
    margin: 0;
}