.content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1,
h2 {
    margin: 0;
    text-align: center;
    color: rgb(248, 148, 164);
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

ul {
    margin: 0;
}

.noscript {
    display: flex;
    font-size: 2.5rem;
    font-weight: bold;
    justify-content: center;
    border-bottom: 1rem solid black;
    padding: 10px;
}

.custom-check-or-radio {
    /* Little hack in order to hide the original components of the check/radio button */
    opacity: 0.0;
    position: absolute;
}

.input-container {
    justify-content: center;
    align-items: center;
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 20px;
    row-gap: 10px;
}

.input-container>b {
    align-self: baseline;
}

.input-container>input[type="checkbox"] {
    /* By default checkboxes seem to have a bigger margin on the left. */
    margin-left: 0;
    margin-right: 0;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgb(0 0 0 / 20%), 0 2px 0 0 rgb(255 255 255 / 70%) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px),
(orientation: portrait) or (max-aspect-ratio: 4/3) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2rem;
    }

    .input-container {
        align-items: start;
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 5px;
    }

    .input-container>input[type="checkbox"] {
        width: initial;
    }

    .input-container>* {
        width: 100%;
        /* These two prevent blow-out of the input elements */
        display: block;
        box-sizing: border-box;
    }
}
