:root {
    --dot-color: black;
}

.noscript {
    display: flex;
    font-size: 2.5rem;
    font-weight: bold;
    justify-content: center;
    border-bottom: 1rem solid black;
    padding: 10px;
}

.custom-check-or-radio {
    /* Little hack in order to hide the original components of the check/radio button */
    opacity: 0;
    position: absolute;
}

.input-container {
    justify-content: center;
    align-items: center;
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 20px;
    row-gap: 10px;
}

.input-container > b {
    align-self: baseline;
}

.input-container > input[type="checkbox"] {
    /* By default checkboxes seem to have a bigger margin on the left. */
    margin-left: 0;
    margin-right: 0;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow:
        0 1px 1px rgb(0 0 0 / 20%),
        0 2px 0 0 rgb(255 255 255 / 70%) inset;
    color: #333;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    vertical-align: middle;
    padding: 2px 4px;
    white-space: nowrap;
}

@media only screen and (max-width: 812px),
    (orientation: portrait) or (max-aspect-ratio: 4/3) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2rem;
    }

    .input-container {
        align-items: start;
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 5px;
    }

    .input-container > input[type="checkbox"] {
        width: initial;
    }

    .input-container > * {
        width: 100%;
        /* These two prevent blow-out of the input elements */
        display: block;
        box-sizing: border-box;
    }
}

.ready-check-box-wrapper {
    display: flex;
    align-self: center;
}

.ready-check-box {
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: var(--component-base-color);
    border-radius: var(--component-border-radius);
}

.ready-check-box:has(input[type="checkbox"]:checked) {
    background-color: rgb(255, 224, 66);
}

.ready-needed,
.ready-count {
    font-family: monospace;
    font-size: 1rem;
}

#lobby-header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;

    display: grid;
    grid-template-columns: 15rem auto 18rem;
    grid-gap: 5px;
}

#lobby-header > * {
    background-color: white;
    height: 100%;
    align-items: center;
    padding: 0.1rem 0.2rem;
    box-sizing: border-box;
    border-radius: var(--component-border-radius);
}

#lobby-header-center-element {
    display: flex;
    /* Hack to remove extra space between buttons */
    font-size: 0;
}

#round-container,
#time-left {
    font-size: 1.5rem;
    align-self: center;
    display: flex;
}

#rounds {
    margin-left: 0.25rem;
}

#rounds::after {
    content: "/";
}

#time-left-value {
    min-width: 3rem;
    width: 3rem;
    margin-left: 0.25rem;
}

#word-container {
    flex: 1;
    display: flex;
    justify-content: center;
    text-align: center;
    column-gap: 0.5rem;
    width: 0;
    overflow-x: hidden;
}

.hint-chat-message {
    white-space: pre;
    text-wrap-mode: wrap;
}

.hint-underline {
    border-bottom: 0.2rem black solid;
    padding-bottom: 0.1rem;
}

.hint-revealed {
    border-bottom: 0.2rem rgb(38, 187, 38) solid;
    padding-bottom: 0.1rem;
}

.hint {
    font-family: monospace;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.4rem;
}

#lobby {
    padding: 5px;
    display: grid;
    grid-template-columns: 15rem auto 18rem;
    grid-template-rows: min-content min-content auto;
    grid-gap: 5px;
    flex: 1 1;
}

/*
 * These two ensure that the drawing board has an aspect ratio of 16/9.
 * Technically we could make this configurable by setting the padding via JS.
 */
#drawing-board-wrapper {
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    position: relative;
    grid-column: 2;
    grid-row: 2;
}

#drawing-board-inner-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#drawing-board {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    user-select: none;
    border-radius: var(--component-border-radius);
}

#center-dialogs {
    /* Without these two, drawing is impossible, since this container catches all events. */
    pointer-events: none;
    touch-action: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-dialog {
    /* All dialogs are initially invisible. */
    visibility: hidden;
    /* Since the parent ignores all of those events, we need to
    restore the handling, since our dialogs have buttons. */
    pointer-events: all;
    touch-action: auto;
    /* Allows layering, since there can be more than one dialog. */
    position: absolute;
    /* A dialog should never fully hide the canvas. */
    max-width: 80%;
    max-height: 80%;
    background-color: rgb(225, 221, 221);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: var(--component-border-radius);
}

.center-dialog-content {
    overflow: auto;
    flex: 1;
    width: 100%;
    justify-content: center;
    display: flex;
}

#chat {
    display: flex;
    flex-direction: column;
    grid-column: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 0;
    min-height: 100%;
}

#message-container {
    overflow-y: scroll;
    background-color: white;
    flex: 1;
    border-radius: var(--component-border-radius) var(--component-border-radius)
        0 0;
}

.chat-name {
    font-weight: bold;
    padding-right: 0.2em;
}

.chat-name:after {
    content: ":";
}

.correct-guess-message {
    font-weight: bold;
    color: rgb(38, 187, 38);
}

.correct-guess-message-other-player {
    font-weight: bold;
    color: rgb(231 198 32);
}

.non-guessing-player-message {
    color: rgb(38, 187, 38);
}

.close-guess-message {
    font-weight: bold;
    color: rgb(25, 166, 166);
}

#message-input {
    padding: 10px;
    margin-top: 5px;
    border: 0;
    border-radius: 0 0 var(--component-border-radius)
        var(--component-border-radius);
}

.dialog-title {
    margin-bottom: 1rem;
    font-size: 2.75rem;
    font-weight: bold;
    color: rgb(240, 105, 127);
    text-align: center;
}

#word-button-container {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    gap: 0.25rem;
}

.dialog-button {
    border: none;
    background-color: var(--component-base-color);
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.button-bar {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin-top: 1em;
    gap: 0.25rem;
}

.line-width-button-content:hover {
    background-color: var(--component-hover-background);
}

.header-button {
    padding: 0.2rem;
    background-color: transparent;
    user-select: none;
}

.header-button-image {
    width: 1.7rem;
    height: 1.7rem;
    /** Without these two, the button has too much height. */
    display: inline-block;
    vertical-align: middle;
}

.dot {
    background-color: var(--dot-color);
    border: 1px solid black;
    border-radius: 50%;
}

.line-width-button-content {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-width-button-content > *,
.canvas-button > * {
    width: 40px;
    height: 40px;
}

.line-width-button-content {
    background-color: var(--component-base-color);
}

.line-width-button:checked + .line-width-button-content {
    background-color: var(--component-active-background);
}

.canvas-button {
    height: 50px;
    width: 50px;
    border: 0;
    padding: 0;
}

.canvas-button > img {
    display: inline-block;
    vertical-align: middle;
}

.canvas-button::-moz-focus-inner {
    border: 0;
}

.color-button-container {
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    height: 48px;
    border-radius: var(--component-border-radius);
    overflow: hidden;
}

.color-button-row {
    display: flex;
    flex-direction: row;
}

.color-button {
    height: 24px;
    width: 24px;
    border: 0;
    border-radius: 0;
}

.color-button::-moz-focus-inner {
    border: 0;
}

.message {
    overflow-wrap: break-word;
    padding: 0.3em 0.2em 0.2em 0.3em;
}

.message:nth-child(2n) {
    background-color: rgb(240, 238, 238);
}

.system-message {
    font-weight: bold;
    color: red;
}

#toolbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-row: 3;
    grid-column: 2 / 4;
    height: min-content;
    user-select: none;
    column-gap: 10px;
    row-gap: 5px;
}

.toolbox-group {
    align-self: flex-start;
}

.pencil-sizes-container {
    display: flex;
    gap: 2.5px;
}

.line-width-button-content {
    border-radius: var(--component-border-radius);
}

#player-container {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 2;
    overflow-y: auto;
    height: 0;
    min-height: 100%;
}

.player {
    background-color: rgb(255, 255, 255);
    padding: 0.2rem;
    display: grid;
    grid-template-columns: fit-content(100%) auto;
    grid-template-rows: 1fr 1fr;
    border-radius: var(--component-border-radius);
}

.player + .player {
    margin-top: 5px;
}

.playername {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1;
}

.playername-self {
    font-weight: bold;
}

.player-done {
    background-color: rgb(141, 224, 15);
}

.player-ready {
    background-color: rgb(255, 224, 66);
}

.rank {
    display: flex;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    font-size: 1.5rem;
}

.playerscore-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.score-and-status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.last-turn-score {
    font-size: 0.8rem;
    color: lightslategray;
    padding-left: 0.2rem;
}

#kick-dialog-players {
    flex: 1;
}

.kick-player-button {
    width: 100%;
}

.kick-player-button + .kick-player-button {
    margin-top: 0.5rem;
}

.gameover-scoreboard-entry {
    font-size: 1.3rem;
    padding: 0.3rem 1rem 0.3rem 1rem;
    display: flex;
    flex-direction: row;
    background-color: rgb(245, 245, 245);
}

.gameover-scoreboard-entry + .gameover-scoreboard-entry {
    margin-top: 0.5rem;
}

.gameover-scoreboard-entry-self {
    font-weight: bold;
}

.gameover-scoreboard-entry:last-child {
    margin-bottom: 1rem;
}

.gameover-scoreboard-rank {
    margin-right: 1rem;
}

.gameover-scoreboard-name {
    flex: 1;
    text-align: center;
}

.gameover-scoreboard-score {
    margin-left: 1rem;
}

#force-restart-button {
    display: none;
}

#reconnect-dialog {
    /* As this dialog is very important, it should always be on the top. */
    z-index: 100;
}

.namechange-field {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0.35rem;
}

#waitchoose-drawer {
    font-weight: bold;
}

@media only screen and (max-width: 812px) and (orientation: landscape) {
    html {
        font-size: 0.8rem;
    }

    #lobby-header,
    #lobby {
        grid-template-columns: 12rem auto 15rem;
    }
}

@media only screen and (max-width: 812px) {
    .center-dialog {
        padding: 0.5rem;
    }

    .button-bar {
        margin-top: 0.5em;
    }

    .dialog-title {
        font-size: 1.75rem;
    }

    .color-button-container {
        height: 38px;
    }

    .color-button {
        width: 19px;
        height: 19px;
    }

    .canvas-button,
    .line-width-button-content {
        width: 40px;
        height: 40px;
    }

    .line-width-button-content > *,
    .canvas-button > * {
        width: 32px;
        height: 32px;
    }
}

@media only screen and (max-width: 812px) and (not (orientation: landscape)) {
    #message-container {
        max-height: 5rem;
    }
}

@media only screen and (orientation: portrait), (max-aspect-ratio: 4/3) {
    #lobby {
        grid-template-columns: 2fr 3fr;
        grid-template-rows: min-content min-content min-content auto;
    }

    #lobby-header {
        grid-template-columns: max-content auto max-content;

        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 1;
    }

    #round-container,
    #time-left {
        font-size: 1.1rem;
    }

    #time-left-value {
        min-width: 2.4rem;
        width: 2.4rem;
    }

    .header-button-image {
        width: 1.2rem;
        height: 1.2rem;
    }

    .hint {
        font-size: 1.1rem;
        line-height: 1.1rem;
    }

    .hint-underline {
        border-bottom-width: 0.15rem;
    }

    #drawing-board-wrapper {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 2;
    }

    #toolbox {
        grid-row: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        column-gap: 5px;
    }

    #player-container {
        grid-column: 1;
        grid-row: 4;
        height: auto;
        min-height: auto;
    }

    #chat {
        grid-column: 2;
        grid-row: 4;
        height: 0;
        min-height: 100%;
    }
}

#menu {
    position: absolute;
    inset: unset;
    border: 1px solid gray;
    border-radius: var(--component-border-radius);
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}

.menu-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    font-size: 1rem !important;
}
