{{define "error-page"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Scribble.rs - Error</title>
    <meta charset="UTF-8" />
    {{template "non-static-css-decl" .}}
    <link rel="stylesheet" type="text/css" href='{{.RootPath}}/resources/{{.WithCacheBust "root.css"}}' />
    <link rel="stylesheet" type="text/css" href='{{.RootPath}}/resources/{{.WithCacheBust "error.css"}}' />
    {{template "favicon-decl" .}}
</head>

<body {{if and (ne .Translation nil) (eq .Translation.IsRtl true)}} dir="rtl" {{end}}>
    <div id="app">
        <div class="error-pane-wrapper">
            <div class="error-pane">
                <h1 class="error-title">(◕︿◕✿)</h1>
                <h2 class="error-message">{{.ErrorMessage}}</h2>
                <a class="go-back" href="{{.RootPath}}/">
                  {{if eq .Translation nil}}
                    Click here to get back to the Homepage
                  {{else}}
                    {{.Translation.Get "click-to-homepage"}}
                  {{end}}
                </a>
            </div>
        </div>
        <footer>
            {{template "footer" .}}
        </footer>
    </div>
</body>

</html>
{{end}}
