{{define "lobby-create-page"}}
<!DOCTYPE html>
<html lang="{{.Locale}}">

<head>
    <title>Scribble.rs</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{template "non-static-css-decl" .}}
    <link rel="stylesheet" type="text/css" href="{{.RootPath}}/resources/base.css?cache_bust={{.CacheBust}}" />
    <link rel="stylesheet" type="text/css" href="{{.RootPath}}/resources/lobby_create.css?cache_bust={{.CacheBust}}" />
    {{template "favicon-decl" .}}
</head>

<body>
    <div class="content-wrapper">
        <noscript><span class="noscript">{{.Translation.Get "requires-js"}}</span></noscript>

        <img id="logo" src="{{.RootPath}}/resources/logo.svg?cache_bust={{.CacheBust}}">

        <div class="tab-header">
            <label for="create-lobby-tab-button">
                <input id="create-lobby-tab-button" class="custom-check-or-radio tab-button" type="radio"
                    onclick="openTab('create-lobby')" name="tab" checked>
                <div class="tab-label">{{.Translation.Get "create-lobby"}}</div>
            </label>
            <label for="join-lobby-tab-button">
                <input id="join-lobby-tab-button" class="custom-check-or-radio tab-button" type="radio"
                    onclick="openTab('join-lobby')" name="tab">
                <div class="tab-label">{{.Translation.Get "join-lobby"}}</div>
            </label>
        </div>

        <div id="create-lobby" class="tab-content">
            <div class="center-container">
                <div class="content-container">
                    {{if .Errors}}
                    <div class="error-list">
                        {{.Translation.Get "input-contains-invalid-data"}}
                        <ul>
                            {{range .Errors}}
                            <li>{{.}}</li>
                            {{end}}
                        </ul>
                        <br />
                        {{.Translation.Get "please-fix-invalid-input"}}
                    </div>

                    {{end}}
                    <form id="lobby-create" class="input-container" action="{{.RootPath}}/ssrCreateLobby" method="POST">
                        <b>{{.Translation.Get "word-language"}}</b>
                        <select class="input-item" name="language" placeholder="Choose your language">
                            {{$language := .Language}}
                            {{range $k, $v := .Languages}}
                            <option value="{{$k}}" {{if eq $k $language}}selected="selected" {{end}}>{{$v}}</option>
                            {{end}}
                        </select>
                        <b>{{.Translation.Get "drawing-time-setting"}}</b>
                        <input class="input-item" type="number" name="drawing_time" min="{{.MinDrawingTime}}"
                            max="{{.MaxDrawingTime}}" value="{{.DrawingTime}}" />
                        <b>{{.Translation.Get "rounds-setting"}}</b>
                        <input class="input-item" type="number" name="rounds" min="{{.MinRounds}}" max="{{.MaxRounds}}"
                               value="{{.Rounds}}" />
                        <b>{{.Translation.Get "timer-start-setting"}}</b>
                        <input class="input-item" type="checkbox" name="timer_start" value="true"
                               {{if eq .TimerStart "true"}}checked{{end}} />
                        <b>{{.Translation.Get "word-select-count-setting"}}</b>
                        <input class="input-item" type="number" name="word_select_count"
                               min="{{.MinWordSelectCount}}" max="{{.MaxWordSelectCount}}" value="{{.WordSelectCount}}" />
                        <b>{{.Translation.Get "max-players-setting"}}</b>
                        <input class="input-item" type="number" name="max_players" min="{{.MinMaxPlayers}}"
                            max="{{.MaxMaxPlayers}}" value="{{.MaxPlayers}}" />
                        <b>{{.Translation.Get "public-lobby-setting"}}</b>
                        <input class="input-item" type="checkbox" name="public" value="true"
                            {{if eq .Public "true"}}checked{{end}} />
                        <b>{{.Translation.Get "players-per-ip-limit-setting"}}</b>
                        <input class="input-item" type="number" name="clients_per_ip_limit"
                            min="{{.MinClientsPerIPLimit}}" max="{{.MaxClientsPerIPLimit}}"
                            value="{{.ClientsPerIPLimit}}" />
                        <b>{{.Translation.Get "custom-words-per-turn-setting"}}</b>
                        <input class="input-item" style="align-self: baseline" type="number"
                            name="custom_words_per_turn" min="{{.MinCustomWordsPerTurn}}"
                            max="{{.MaxCustomWordsPerTurn}}" value="{{.CustomWordsPerTurn}}" />
                        <b>{{.Translation.Get "custom-words"}}</b>
                        <textarea class="input-item" name="custom_words"
                            placeholder="{{.Translation.Get "custom-words-info"}}">{{.CustomWords}}</textarea>
                        <button type="submit" class="create-button" form="lobby-create">
                            {{.Translation.Get "create-lobby"}}
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div id="join-lobby" class="tab-content">
            <div class="join-lobby-data">
                <div class="table-wrapper-wrapper">
                    <button id="refresh-button" onclick="loadLobbyTable()">{{.Translation.Get "refresh"}}</button>
                    <div class="table-wrapper">
                        <table id="lobby-table">
                            <thead>
                                <tr>
                                    <th>{{.Translation.Get "word-language"}}</th>
                                    <th>{{.Translation.Get "rounds-setting"}}</th>
                                    <th>{{.Translation.Get "players"}}</th>
                                    <th>{{.Translation.Get "drawing-time-setting"}}</th>
                                    <th>{{.Translation.Get "custom-words"}}</th>
                                </tr>
                            </thead>
                            <tbody id="lobby-table-body">
                            </tbody> 
                        </table>
                    </div>
                </div>
                <div class="lobby-details">
                    <span class="lobby-detail">{{.Translation.Get "word-language"}}:</span>
                    <span id="wordpack-detail"></span>
                    <span class="lobby-detail">{{.Translation.Get "rounds-setting"}}:</span>
                    <span id="rounds-detail"></span>
                    <span class="lobby-detail">{{.Translation.Get "players"}}:</span>
                    <span id="players-detail"></span>
                    <span class="lobby-detail">{{.Translation.Get "drawing-time-setting"}}:</span>
                    <span id="drawing-time-detail"></span>
                    <span id="word-select-count"></span>
                    <span class="lobby-detail">{{.Translation.Get "custom-words"}}:</span>
                    <span id="custom-words-detail"></span>
                    <span class="lobby-detail">{{.Translation.Get "players-per-ip-limit-setting"}}:</span>
                    <span id="max-clients-ip-detail"></span>
                    <button id="join-button" onclick="onJoin()" disabled>{{.Translation.Get "join-lobby"}}</button>
                </div>
            </div>
        </div>

        {{template "footer" .}}
    </div>

    <script type="text/javascript">
        let lobbyTableLoaded = false;
        let lobbyTableBody = document.getElementById("lobby-table-body");
        let selectedLobby;

        let createLobbyTabButton = document.getElementById("create-lobby-tab-button");
        let joinLobbyTabButton = document.getElementById("join-lobby-tab-button");

        let joinButton = document.getElementById("join-button");

        let wordpackDetail = document.getElementById("wordpack-detail");
        let roundsDetail = document.getElementById("rounds-detail");
        let playersDetail = document.getElementById("players-detail");
        let drawingTimeDetail = document.getElementById("drawing-time-detail");
        let wordSelectCountDetail = document.getElementById("word-select-count");
        let customWordsDetail = document.getElementById("custom-words-detail");
        let maxClientsIPDetail = document.getElementById("max-clients-ip-detail");

        function onJoin() {
            window.open("{{.RootPath}}/ssrEnterLobby/" + selectedLobby, "_self");
        }

        function loadLobbyTable() {
            lobbyTableLoaded = true;

            if (lobbyTableBody.childNodes.length > 0) {
                for (let i = lobbyTableBody.childNodes.length - 1; i >= 0; i--) {
                    lobbyTableBody.removeChild(lobbyTableBody.childNodes.item(i));
                }
            }

            fetch("{{.RootPath}}/v1/lobby")
                .then((response) => {
                    return response.json();
                })
                .then((data) => {
                    //Initially remove all data and disable join button, as we don't know
                    //whether we'll have any data after fetching.
                    showLobbyDetails(null);

                    data.forEach(lobby => {
                        const wordpackCell = document.createElement("td");
                        wordpackCell.innerText = lobby.wordpack;
                        const roundsCell = document.createElement("td");
                        roundsCell.innerText = lobby.round + "/" + lobby.rounds;
                        const wordSelectCountCell = document.createElement("td");
                        roundsCell.innerText = lobby.wordSelectCount;
                        const playersCell = document.createElement("td");
                        playersCell.innerText = lobby.playerCount + "/" + lobby.maxPlayers;
                        const drawingTimeCell = document.createElement("td");
                        drawingTimeCell.innerText = lobby.drawingTime.toString();
                        const customWordsCell = document.createElement("td");
                        customWordsCell.innerText = lobby.customWords ? '{{.Translation.Get "yes"}}' : '{{.Translation.Get "no"}}';

                        const newRow = document.createElement("tr");
                        newRow.appendChild(wordpackCell);
                        newRow.appendChild(roundsCell);
                        newRow.appendChild(wordSelectCountCell);
                        newRow.appendChild(playersCell);
                        newRow.appendChild(drawingTimeCell);
                        newRow.appendChild(customWordsCell);

                        lobbyTableBody.appendChild(newRow);

                        let clickHandler = function () {
                            lobbyTableBody.childNodes.forEach(row => {
                                row.setAttribute("selected", "false");
                            });
                            newRow.setAttribute("selected", "true");
                            selectedLobby = lobby.lobbyId;
                            showLobbyDetails(lobby);
                        };
                        newRow.addEventListener("click", clickHandler, false);
                    });
                });
        }

        function showLobbyDetails(lobby) {
            if (lobby === null) {
                wordpackDetail.innerText = "";
                roundsDetail.innerText = "";
                playersDetail.innerText = "";
                drawingTimeDetail.innerText = "";
                wordSelectCountDetail.innerText = "";
                customWordsDetail.innerText = "";
                maxClientsIPDetail.innerText = "";
                joinButton.disabled = true;
            } else {
                wordpackDetail.innerText = lobby.wordpack;
                roundsDetail.innerText = lobby.round + "/" + lobby.rounds;
                playersDetail.innerText = lobby.playerCount + "/" + lobby.maxPlayers;
                drawingTimeDetail.innerText = lobby.drawingTime.toString();
                wordSelectCountDetail.innerText = lobby.wordSelectCount;
                customWordsDetail.innerText = lobby.customWords ? '{{.Translation.Get "yes"}}' : '{{.Translation.Get "no"}}';
                maxClientsIPDetail.innerText = lobby.maxClientsPerIp;
                joinButton.disabled = false;
            }
        }

        function openTab(tabId) {
            if (tabId === "join-lobby") {
                loadLobbyTable();
            }

            //Initially hide all tabs except for our target tab
            const tabs = document.getElementsByClassName("tab-content");
            for (let i = 0; i < tabs.length; i++) {
                tabs[i].style.display = "none";
            }

            //Show the newly selected tab.
            document.getElementById(tabId).style.display = "flex";
        }

        if (createLobbyTabButton.checked) {
            openTab('create-lobby');
        } else if (joinLobbyTabButton.checked) {
            openTab('join-lobby');
        }
    </script>
</body>

</html>
{{end}}