{{define "robot-page"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Scribble.rs - Join Lobby</title>
    {{$description := (print "Space for up to " .MaxPlayers " players accross " .Rounds " rounds.") }}

    <meta name="title" content="Scribble.rs - Join Lobby">
    <meta name="description" content="{{$description}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Scribble.rs - Join Lobby">
    <meta property="og:description" content="{{$description}}">
    <meta property="og:image" content='{{.RootPath}}/resources/{{.WithCacheBust "favicon_96.png"}}'>
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="Scribble.rs - Join Lobby">
    <meta property="twitter:description" content="{{$description}}">
    <meta property="twitter:image" content='{{.RootPath}}/resources/{{.WithCacheBust "favicon_96.png"}}'>
    {{template "non-static-css-decl" .}}
    <link rel="stylesheet" type="text/css" href='{{.RootPath}}/resources/{{.WithCacheBust "root.css"}}' />
    <link rel="stylesheet" type="text/css" href='{{.RootPath}}/resources/{{.WithCacheBust "error.css"}}' />
    <link rel="icon" type="image/png" href='{{.RootPath}}/resources/{{.WithCacheBust "favicon_96.png"}}' />
</head>

<body {{if eq .Translation.IsRtl true}} dir="rtl" {{end}}>
    <div id="app">
        <h1 class="error-title">(◕︿◕✿)</h1>
        <h2 class="error-message">You can NOT join the lobby with this browser.</h2>
        <a class="go-back" href="{{.RootPath}}/">Click here to get back to the Homepage</a>
        <footer>
            {{template "footer" .}}
        </footer>
    </div>
</body>

</html>
{{end}}
