.error-title, .error-message {
    display: block;
}

.error-title {
    font-size: 6rem;
}

.error-message {
    font-size: 3rem;
    margin: 2vw;
}

.go-back, .go-back:link, .go-back:visited {
    display: block;
    font-size: 3rem;
    color: rgb(248, 148, 164);
    text-align: center;
    flex: 1 1;
}
