<!DOCTYPE html>
<html lang="en">

<head>
    <title>Scribble.rs - Error</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/resources/base.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/error.css"/>
    <link rel="icon" type="image/png" href="/resources/favicon.png"/>
</head>

<body>
<div class="content-wrapper">
    <h1 class="error-title">(◕︿◕✿)</h1>
    <h2 class="error-message">{{.}}</h2>
    <a class="go-back" href="/">Click here to get back to the Homepage</a>
</div>

{{template "footer"}}
</body>

</html>