{{define "robot-page"}}
<!DOCTYPE html>
<html dir="rtl" lang="fa">

<head>
    <meta charset="UTF-8"/>
    <title>Scribble.rs - Join Lobby</title>
    {{$description := (print "Space for up to " .MaxPlayers " players accross " .Rounds " rounds.") }}

    <meta name="title" content="Scribble.rs - Join Lobby">
    <meta name="description" content="{{$description}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Scribble.rs - Join Lobby">
    <meta property="og:description" content="{{$description}}">
    <meta property="og:image" content="{{.RootPath}}/resources/favicon.png">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="Scribble.rs - Join Lobby">
    <meta property="twitter:description" content="{{$description}}">
    <meta property="twitter:image" content="{{.RootPath}}/resources/favicon.png">
    {{template "font-decl" .}}
    <link rel="stylesheet" type="text/css" href="{{.RootPath}}/resources/base.css"/>
    <link rel="stylesheet" type="text/css" href="{{.RootPath}}/resources/error.css"/>
    <link rel="icon" type="image/png" href="{{.RootPath}}/resources/favicon.png"/>
</head>

<body>
    <div class="content-wrapper">
        <h1 class="error-title">._.</h1>
        <h2 class="error-message">You can NOT join the lobby with this browser.</h2>
        <a class="go-back" href="{{.RootPath}}/">بازگشت به صفحه اصلی</a>
        {{template "footer" .}}
    </div>
</body>

</html>
{{end}}